__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.pytest_cache/
.DS_Store

/test/test_gc
/test/obj/
/test/cpp/
/test/cpp2/
/test/cs/
/test/go/
/test/java/
/test/js/
/test/kotlin/
/test/rs/
/test/swift/
/test/ts/
/sample/obj/
/sample/out/

/test/java/*.class
/sample/java/*.class

/east/
/selfhost/
